.main {
  text-align: center;
}
.heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: #222222;
}
.para {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #444444;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.secondHeading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 28px;
  color: #222222;
}
.faqContainer {
  margin-top: 50px;
  text-align: start;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.recipeFlex {
  display: flex;
  justify-content: space-between;
}
.recipeFlexItem {
  flex: 1 1 100%;
}
.readButton {
  text-decoration: underline !important;
  color: red;
  cursor: pointer;
}
@media only screen and (max-width: 1300px) {
  .recipeFlex {
    display: flex;
    flex-direction: column-reverse;
  }
}
