.vmMain {
  z-index: 99 !important;
}
.viewAll {
  cursor: pointer !important;
  z-index: 999999 !important;
}
.modal {
  overflow: hidden;
  z-index: 999999 !important;
}
.modalContainer {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
.imageBoxHeadingFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.cardHeading {
  margin-left: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #222222;
}
.boxDiv {
  margin-top: 50px;
}
